<%- include("../partials/header") %>
<div class='row'>
  <div class='col-md-4'>
    <div class='thumbnail'>
      <h1><%= `${user.firstName} ${user.lastName}` %></h1>
      <img src="<%= user.avatar %>" alt="user profile image">
      <div class='caption'><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae in at debitis sunt aperiam facere quo, autem blanditiis deleniti? Reiciendis quos quae, esse assumenda impedit eum maiores quaerat est accusantium?

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde ipsum aspernatur, eos ullam laboriosam perspiciatis delectus eum, architecto necessitatibus optio dolorum rerum quidem minus autem facilis mag
    </div>
  </div>
  <div class='col-md-8'>
    <h3><%= user.username%>'s campgrounds:</h3>
    <ul>
      <% campgrounds.forEach((campground) => { %>
        <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
      <% }) %>
    </ul>
  </div>
</div>
<%- include("../partials/footer") %>